<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183018587024-e5u9mjvreg6ob69vi5c759ok9kj96ke4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183018587024-e5u9mjvreg6ob69vi5c759ok9kj96ke4</string>
	<key>API_KEY</key>
	<string>AIzaSyBx5C5cFJO9wsjJXLLG2J1wo7_x7bFBDVg</string>
	<key>GCM_SENDER_ID</key>
	<string>183018587024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>crvtl.VideoCall</string>
	<key>PROJECT_ID</key>
	<string>videocallapp-25d8c</string>
	<key>STORAGE_BUCKET</key>
	<string>videocallapp-25d8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183018587024:ios:ad4444679dc6cb5eaca915</string>
	<key>DATABASE_URL</key>
	<string>https://videocallapp-25d8c.firebaseio.com</string>
</dict>
</plist>